<!DOCTYPE html>
<html>
<head>
  <title>Web Wallet</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Welcome to Web Wallet</h1>
  <a href="/create">Create Mnemonic</a>
  <a href="/wallets">View Wallets</a>
</body>
</html>
